span.heading {
  color: yellowgreen !important;

}
h1{
  text-align: center;
}
h3 , h4 {
  font-size: x-large;
  text-align: center;
}
p{
 background-color: yellowgreen;
 font-size: x-large;

}
.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    color: black;
    font-size: x-large;
  }
  
  .form-inline label {
    margin: 5px 10px 5px 0;
  }

  .form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: white;
    border: 1px solid #ddd;
  }
  

  .form-inline button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid black;
    color:black;
  }

  .column {
    float: left;
    width: 10%;
    }

    .row:after {
    content: "";
    display: table;
    clear: both;
    }


  @media (max-width: 800px) {
    .form-inline input {
      margin: 10px 0;
    }
  
    .form-inline {
      flex-direction: column;
      align-items: stretch;
    }
  }
  
  .submit { 
    padding: 50px;
    text-align: left; 
    width: 10%;
  
  }
    
    body {
        background-color:white;
    }
    .second-form{
        color: black;
        font-size: x-large;
    }
    fieldset{
      background-color: aquamarine;
      text-align: center;
      
    }
    .gender {
      font-size: x-large  
    }