.content{
  background-color: yellowgreen;
  border-radius: 0.5%;
  margin-left: 20%;
  padding-bottom: 20px;
  margin-right: 20%;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  box-shadow: 2px 2px #000000;
  height: 100%;
  border-radius: 0.5%;
}

.container{
  width: 80%;
  margin: auto;
}

span.heading {
  color: black !important;

}
h1{
  text-align: center;
  font-size: 300%;
}
h3 , h4 {
  font-size: xx-large;
  text-align: justify;
}
li {
  font-size: x-large;
}
h5 {
  font-size: x-large;
}
.result  p{
  font-size: xx-large;
}
p{
 background-color: yellowgreen;
 font-size: x-large;

}
.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    color: black;
    font-size: x-large;
  }
  
  .form-inline label {
    margin: 5px 10px 5px 0;
  }

  .form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: white;
    border: 1px solid #ddd;
  }
  

  .form-inline button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid black;
    color:black;
  }

  .column {
    float: left;
    width: 50%;
    }

    .row:after {
    content: "";
    display: table;
    clear: both;
    }


  @media (max-width: 800px) {
    .form-inline input {
      margin: 10px 0;
    }
  
    .form-inline {
      flex-direction: column;
      align-items: stretch;
    }
  }
  
  #btn{
    border-radius: 10px;
    color: #000000;
    box-shadow: 2px 2px #000000;
    border: solid 3px #000000;
    width: 200px;
    height: 40px;
    text-align: center;
    font-size: 17px;
    background-color: blanchedalmond;
    
  }
    .submit {
      margin-right: 300px;
      margin-left: 5px;
      margin-top: 100px;
    }
    body {
        background-color:white;
    }
    .second-form{
        color: black;
        font-size: x-large;
    }
    fieldset{
      background-color: aquamarine;
      text-align: center;
      
    }
    .gender {
      font-size: x-large  
    }
    strong {
      font-weight: bold;
    }
